<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="စောဝီရကျော်ကျော်" suffix="">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script src="https://unpkg.com/lucide@latest">
    </script>
  </head>
  <body class="animated-gradient text-[1rem] leading-[1.6] w-full m-0 mx-auto font-manrope has-[.child1:hover]:animate-none has-[.child2:hover]:animate-none has-[.child3:hover]:animate-none has-[.child4:hover]:animate-none">
    {@inner_content}
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
